<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            text-align: center;
        }
    </style>
</head>
<body>
    <form method="POST" action="{%url 'update' blog.id %}" enctype="multipart/form-data">
        {%csrf_token%}
        <h2>제목: <input type="text" name="title" value="{{blog.title}}"></h2>
        <h2>작성자: 
            <select name="writer" value="{{blog.writer}}">
                <option selected disabled>선택</option>
                <option value="박철홍">박철홍</option>
                <option value="송가연">송가연</option>
                <option value="박진효">박진효</option>
                <option value="박상아">박상아</option>
            </select>
        </h2>
        <h2>내용</h2>
        <textarea name="content" cols="40" rows="30">{{blog.content}}</textarea>
        <br>
        <br>
        <h2>사진: <input type="file" name="image" value="{{blog.image}}"></h2>
        <br><br>
        <button type="submit">수정하기</button><br>
        <a href="{%url 'detail' blog.id %}">취소</a>
    </form>
</body>
</html>